
/*
See ui0bootstrap css  Getting started
( http://angular-ui.github.io/bootstrap/#/top ) 
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.container {
    width: 100% !important;
}

body {
	background-color: #F2F1EF;
}

#main-wrapper {
    background-color: #ECECEC;
	padding-bottom: 50px;
    margin-left: 15% !important;
    margin-right: 15% !important;
}

.site-fonts {
    font-family: "Open Sans",helvetica,sans-serif;
}

.smalltext {
    font-size: 70%;
}

header {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

header, #site-footer, .navbar-inverse {
	background-color: #232D32 !important;
	color: #9D9D9D;

}


/*------------------------------------------------------------------
                            FOOTER STYLES
-------------------------------------------------------------------*/

#site-footer {
    margin-top: 30px;
    background-color: #232D32;
    color: #9DA6A9;
}

#footer-copyright {
    font-size: 80%;
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.footer-belt {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.footer-box {
    box-sizing: border-box;
    display: inline-block;
    width: 240px;
    text-align: left;
    vertical-align: top;
}

.footer-box-heading {
    font-size: 14px;
    line-height: 200%;
    color: #FFF;
    font-weight: 700;
}

a.footer-box-link-heading {
    transition: color 200ms linear 0s;
    color: #9DA6A9;
    text-decoration: none;
}

a.footer-box-link-text {
    transition: color 200ms linear 0s;
    color: #9DA6A9;
    font-weight: 400;
    text-decoration: none;
}

#site-footer a:hover {
    color: #ffffff;
}



/*------------------------------------------------------------------
                            FORM STYLES
-------------------------------------------------------------------*/

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}